{% extends 'base.html' %}

{% block content %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

        <div class="container mt-5">
        <h2>Edit Incident</h2>
        <form method="post">
            {{ form.hidden_tag() }}
            <div class="mb-3">
                {{ form.system.label(class="form-label") }}
                {{ form.system(class="form-control") }}
            </div>
            <div class="mb-3">
                {{ form.product.label(class="form-label") }}
                {{ form.product(class="form-control") }}
            </div>
            <div class="mb-3">
                {{ form.issue.label(class="form-label") }}
                {{ form.issue(class="form-control") }}
            </div>
            <div class="mb-3">
                {{ form.time_of_occurrence.label(class="form-label") }}
                {{ form.time_of_occurrence(class="form-control") }}
            </div>
            <div class="mb-3">
                {{ form.status.label(class="form-label") }}
                {{ form.status(class="form-select") }}
            </div>
            {{ form.submit(class="btn btn-primary") }}
            <a href="{{ url_for('dash.dashboard') }}" class="btn btn-danger">Cancel</a>
        </form>
    </div>

{% endblock %}