{% extends 'base.html' %}

{% block content %}
        <div class="container mt-5">
        <h2>Incident {{ incident.id }}</h2>

            <div class="mb-3">
                <strong>System: </strong>{{ incident.system }}
            </div>
            <div class="mb-3">
                <strong>Product: </strong>{{ incident.product }}
            </div>
            <div class="mb-3">
                <strong>Issue: </strong>{{ incident.issue }}
            </div>
            <div class="mb-3">
                <strong>Time of Occurrence: </strong>{{ incident.time_of_occurrence }}
            </div>
            <div class="mb-3">
                <strong>Status: </strong>{{ incident.status }}
            </div>
            <a href="{{ url_for('incident.incidents_overview') }}" class="btn btn-secondary">Back to Overview</a>

        </div>
{% endblock %}