{% extends "base.html" %}

{% block content %}
  <!-- Display flashed messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

  <!-- Login Content -->
  <div id="login-content">
      <h2>Login</h2>
      <form method="post">
          {{ form.hidden_tag() }}  <!-- CSRF token -->
          <div class="mb-3">
              {{ form.email.label(class="form-label", required=true) }}
              {{ form.email(class="form-control", placeholder="john.doe@example.com") }}
              {% if form.email.errors %}
                  <div class="invalid-feedback">
                      {{ form.email.errors[0] }}
                  </div>
              {% endif %}
          </div>
          <div class="mb-3">
              {{ form.password.label(class="form-label") }}
              {{ form.password(class="form-control", placeholder="Your password") }}
              {% if form.password.errors %}
                  <div class="invalid-feedback">
                      {{ form.password.errors[0] }}
                  </div>
              {% endif %}
          </div>
          {{ form.submit(class="btn btn-outline-success btn-lg") }}
      </form>
  </div>
{% endblock %}
